<h1>究極のアイデアは、互いに無関係な2つの結合によって生まれる</h1>
<p>腕時計とゲーム機が結合してゲーム&ウォッチが創られた。<br>
  電話帳とタッチモニターが結合してiPhoneが創られた。<br>
  <br>
  「梅」といえば「ウグイス」、 「秋」といえば「松茸」、<br>このように連想しては陳腐なアイデアしか出ない。<br><br>
  ここでは連想厳禁。「梅」といったら「携帯電話」、「秋」といえば「目指し時計」など、全く無関係な2つのワードを作り、それを結合させよ。<br>
  <br>
  笑いを作るのもよし、真面目に組み合わせてもよし、カオスになってもよし<br>あなたの発想力とセンスが世界を大きく変える！</p>
